#launchpad-essentially {
    .loader {
        background: none;
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: inherit;
        background-color: var(--extension-primary);
    }
    .progressbar {
        width: 250;
        max-width: inherit;
        display: flex;
        flex: 2;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        color: #191b43;
        background-position: right;
        animation: makeItfadeIn 4s ease-in 0s forwards;
        background: linear-gradient( to right, var(--extension-secondary) 50%, var(--extension-primary) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        padding: 10px 10px;
    }
    .progressbar.mainbar {
        width: 250;
        animation: none;
        flex: 1;
        justify-content: flex-start;
        margin: 0;
    }
    .progressbar h6 {
        font-size: 16px;
    }
    .progressbar h1 {
        font-size: 18px;
        color: var(--extension-secondary);
    }
    .progressbar p {
        font-size: 9px;
        width: 250px;
    }
    .progressbars {
        flex: 1;
        display: flex;
        flex-direction: column;
        animation: makeItfadeIn 1s ease-in 40s forwards;
        width: 100%;
        background-position: right bottom;
    }
    @keyframes makeItfadeIn {
        100% {
            background-position: left bottom;
            color: #ffffff;
        }
    }
}