#launchpad-essentially-html {
    background: none;
}

#launchpad-essentially-body {
    background: none;
}

/* main {
    padding: 0;
    margin: 0;
    border-radius: 10px;
} */

#essentially-extension-v1-lp {
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    width: 600px;
    height: 100vh;
    border: none;
    z-index: 2147483647 !important;
    position: fixed !important;
    background-color: transparent;
    margin: 0;
    resize: both;
    overflow: auto;
}