@use 'variables';
.top {
    background-color: variables.$extension-secondary;
    display: flex;
    padding: 5px;
    h1 {
        color: variables.$extension-primary;
        font-size: 20px;
        padding: 10px;
    }
}

.webpage {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .footer {
        background-color: variables.$extension-primary;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .status {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 10px;
            font-size: 15px;
            color: #ffffff;
            height: fit-content;
            width: 100%;
            >div {
                display: flex;
            }
            p,
            button {
                border-radius: 6px;
                width: fit-content;
                margin: 0px 4px;
                padding: 10px;
                background-color: rgb(164, 164, 164);
                &.active {
                    background-color: rgb(140, 199, 140);
                }
                &.inactive {
                    background-color: rgb(222, 48, 48);
                }
            }
            button {
                font-size: 15px;
                outline: none;
                border: none;
                margin: 0px 4px;
                padding: 10px;
                background-color: rgb(36, 36, 36);
            }
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    flex: 1;
    overflow: hidden;
}

.content {
    h2 {
        font-size: 15px;
        padding: 20px;
    }
    flex: 1;
    button {
        background-color: variables.$extension-primary;
        color: variables.$extension-secondary !important;
        outline: none;
        border: 1px solid transparent;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 4px;
        max-width: fit-content;
        &:hover {
            border: 1px solid variables.$extension-secondary;
            background-color: variables.$extension-secondary;
            color: variables.$extension-primary !important;
        }
        &:disabled {
            color: #7a7a7a !important;
            &:hover {
                border: 1px solid transparent;
            }
        }
    }
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
    margin: 0;
    overflow: hidden;
    textarea {
        box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.05);
        border: 0 solid variables.$extension-secondary;
        resize: none;
        border-radius: 6px;
        padding: 15px;
        margin: 0 0 10px;
        border-radius: 6px;
        font-family: inherit;
        min-width: 300px;
        max-height: 600px;
        max-width: 700px;
        background-color: variables.$extension-primary;
        outline: variables.$extension-secondary;
        flex: 1;
    }
}

.sources {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.05);
    margin: 5px 10px 20px;
    padding-left: 30px;
    flex: 1;
    overflow-y: scroll;
    border-radius: 6px;
    background-color: variables.$extension-primary;
    .source-item {
        border-bottom: 1px dashed variables.$extension-secondary;
        padding: 5px 20px;
        margin: 30px 0 5px;
        font-family: inherit;
        max-width: 700px;
        word-wrap: break-word;
        background-color: #ffffff;
        background-color: variables.$extension-primary;
    }
    p {
        color: black;
        font-size: 12px;
    }
    div.line {
        background-color: variables.$extension-secondary;
        height: 1px;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.input-options {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
    margin: 10px;
}