html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgba(255, 255, 255, 0.064);
}

.article {
    overflow-y: scroll;
    width: fit-content;
    max-width: 650px;
    max-height: 50vh;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
}

.main {
    width: fit-content;
    position: sticky;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
}