@import '@fontsource/fira-mono';

:root {
	--font-body: Avenir Next;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(253, 253, 253);
	--color-bg-0-d: rgb(42, 43, 44);
	--color-bg-1: rgb(235, 235, 235);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-border-1: #d8d8d8;
	--color-theme-1: #4080e6;
	--color-theme-2: #4080e6;
	--color-text: rgba(0, 0, 0, 0.7);
	--color-text-w: rgb(255, 255, 255);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

* {
	box-sizing: border-box;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
	display: none;
}

body {
	min-height: 100vh;
	max-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

button {
	border: none;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	padding: 3px 20px;
	line-height: 27px;
	color: var(--color-text-w);
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: pre;
	background-color: var(--color-theme-1);
	cursor: pointer;
}

button:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
}

input {
	background-color: var(--color-bg-0);
	border: 2px solid var(--color-border-1);
	border-radius: 5px;
	outline: none;
	width: 100%;
}

textarea {
	background-color: var(--color-bg-0);
	border: 2px solid var(--color-border-1);
	border-radius: 5px;
	width: 500px;
	height: 100%;
	outline: none;
	margin-bottom: 10px;
	width: 100%;
	resize: none;
	font-family: inherit;
	font-size: inherit;
}
